@model IEnumerable<proyecto.Models.Medico>

@{
    ViewData["Title"] = "Index";
}

<h1>Medicos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especialidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.medicoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.medicoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.medicoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
