@model IEnumerable<proyecto.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Pacientes</h1>

<p>
    <a asp-action="Create">Crear Nuevo Paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medico.medicoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pacienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pacienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pacienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
